<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>Flickr Photos</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.11/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="http://js.arcgis.com/3.11/esri/css/esri.css">
    <style>
      html, body, #map {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
      }

      .esriPopup  img{
        max-width: 200px;
        max-height: 133px;
        border: solid 2px #000;
      }
      body {
        background-color:#FFF;
        overflow:hidden;
        font-family:"Trebuchet MS";
      }
    </style>
    <script src="http://js.arcgis.com/3.11/"></script>
    <script>
      dojo.require("esri.map");

      var map;
      function init() {
        map = new esri.Map("map", {
          basemap: "topo",
          center: [-122.1580688, 37.4431071], //long, lat
          zoom: 20
        });
        dojo.connect(map, "onLoad", loadPhotos);
      }

      pictureLookup = {
        "fire": "/img/flames.png",
        "accident": "/img/car.png",
        "crime": "/img/crime.png",
        "electricity": "/img/electricity.png",
        "medical": "/img/medical.png",
        "toxic": "/img/toxic.png",
        "flood": "/img/flood.png"
      }

      function loadPhotos() {
        var events = esri.request({
          url: "/api/events",
          content: { format: "json" },
          callbackParamName: "jsoncallback"
        });
        events.then(addEvents);
      }

      function addEvents(data) {
        var symbol = new esri.symbol.PictureMarkerSymbol("/img/default.png", 32, 32);
        var template = new esri.dijit.PopupTemplate({
          title: "{title}",
          description: "{description}"
        });

        dojo.forEach(data.items, function(item) {
          if (item.title in pictureLookup) {
            symbol = new esri.symbol.PictureMarkerSymbol(pictureLookup[item.title], 32, 32);
          }
          var loc = new esri.geometry.Point(item.longitude, item.latitude);
          map.graphics.add(new esri.Graphic(loc, symbol, item, template));
        });
      }

      dojo.ready(init);
    </script>
  </head>
  <body class="claro">
    <div id="map"></div>
  </body>
</html>
